.pagination {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.pages {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid black;
    margin: 0 1px;
    border-radius: 5px;
}

.pages:hover {
    background-color: #d2d1d1;
}

.selectedPage {
    font-weight: bold;
}

.pagination button {
    margin: 0;
}

.pagination button::before,
.pagination button::after {
    content: '';
    flex: 0 0 20px; /* Set a fixed indent sizeа */
}
