
.errorTextarea {
    border: solid 2px red;
}

.error {
    color: red;
    min-height: 30px; /* empty place for error */
}

button {
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #1c90cc;
    border: none;
    border-radius: 5px;
}

input {
    flex-grow: 1;
    height: 32px;
    outline: none;
    padding: 0 10px;
    border: 1px solid #1c90cc;
    border-radius: 5px;
    margin-left: 15px;
}
