
.errorTextarea {
    border: solid 2px red;
}

.error {
    color: red;
    min-height: 30px; /* empty place for error */
}

.common {
    border: none;
    border-bottom: 2px solid #545454;
    display: block;
    font-size: 16px;
    height: 40px;
    margin-bottom: 10px;
    outline: none;
    transition: border-bottom .5s linear;
    width: 50%;
}

button {
    background-color: #238abd;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px 15px;
}

input {
    border: 1px solid #238abd;
    border-radius: 5px;
    flex-grow: 1;
    height: 30px;
    outline: none;
    padding: 0 10px;
}
