.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    grid-area: header;
    background: palegoldenrod;
}

.header img {
    width: 100%;
    height: 19%;
}

.loginBlock {
    align-self: flex-end;
}

.loginBlock a {
    color: white;
}
