.nav {
    all: unset;
    grid-area: nav;
    background-color: #fdfdfd;
    padding: 20px;
    margin-left: 10px;
    min-width: 200px;
}

.item {
    padding: 5px;
    border-radius: 10px;
    transition: border-color 0.3s ease; /* Border color changing animation */

}

.item:hover {
    background-color: #d2d1d1;
    border-color: #d2d1d1;
}

a, a:visited, a:hover, a:active {
    color: inherit; /* This will force the links to inherit the text color from the parent element */
    text-decoration: none; /*Removes underline from links */
}

.item a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

a:hover {

}

/*.item */
.activeLink {
    color: gold;
}

.friendsContainer {
    /*display: grid;*/
}

.friend {
    padding: 10px
}

.friend > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.5;
}

