.nav {
    grid-area: nav;
    background-color: #fdfdfd;
    padding: 20px;
    margin-left: 10px;
    min-width: 200px;
}

.item {
    color: black;
}

.item a {
    text-decoration: none;
}

/*.item */
.activeLink {
    color: gold;
}

.friendsContainer {
    /*display: grid;*/

}

.friend {

    padding: 10px
}

.friend > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.5;
}

