.description {
    padding: 10px;
}

.description > img {
    width: 200px;
    border-radius: 50%;
}

.description > button {
    margin-right: 30px;
}

.online {
    width: 32px;
    height: 32px;
    background-color: #31A24C;
    border: 5px solid #2f2e2e;
    border-radius: 50%;
    position: relative;
    transform: translate(325%, -127%);
}
