.post {
    display: flex;
    align-items: center;
    gap: 20px;
}
.post > div > span {
    cursor: pointer;
    transition: color .2s ease;
    display: flex;
    align-items: center;
    gap: 5px;
}

span > svg {
    height: 1em
}

span > svg:hover {
    color: #e70909;
    cursor: pointer;
}

.post img {
    border-radius: 50%;
    width: 40px;
}

.wrapperLike {
    width: 50px;
}
